<div style="display: flex; justify-content: flex-start; align-items: center;">
    <a href="https://colab.research.google.com/github/msfasha/307304-Data-Mining/blob/main/20251/Module%202-Regression/1-simple%20linear%20regression.ipynb" target="_blank">    
        <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" style="height: 25px; margin-right: 20px;">
    </a>
</div>

## Simple MAP Reduce Functions (No Big Data)

#### Map Exampes

This simple python code (no big data) demonstrate the idea of map where we map a function to a list of numbers.

**Method 1**

In [1]:
lst = [1, 2, 3, 4]
list(map(lambda x: x*x, lst))

[1, 4, 9, 16]

**Method 2**

In [2]:
def square(x):
      return x*x
list(map(square, lst))

[1, 4, 9, 16]

---

#### Reduce Examples

This simple python code (no big data) demonstrate the idea of reduce, where we reduce a group of numbers into a single number.

**Method 1**

In [3]:
from functools import reduce
reduce(lambda x, y: x + y, lst)

10

**Method 2**

In [4]:
def add_reduce(x, y):
  out = x + y
  print(f"{x}+{y}-->{out}")
  return out
reduce(add_reduce,lst)

1+2-->3
3+3-->6
6+4-->10

10