<a href="https://colab.research.google.com/github/msfasha/307401-Big-Data/blob/main/20251/Module_6_introduction_to_databricks/1_NYC_Taxi_Analytics_Statistics_and_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analytics on the NYC Taxi Dataset Using Parquet & Spark

This notebook provides ready-to-use analytical, statistical, and machine-learning workflows on the NYC Taxi dataset stored in Parquet format using Apache Spark.

## 1. Dataset Motivation

The NYC Taxi dataset combines time-based, numerical, and categorical data at scale, making it suitable for statistical analysis and machine learning.

## 2. Load Data from Parquet

**What this does**: starts a Spark session, downloads the October 2025 NYC yellow taxi parquet (via wget), and loads it locally if missing.
**Environment note**: if wget is unavailable, download the file manually to the working directory.
**Re-run guidance**: update the URL when a newer monthly parquet is needed.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import os

spark = SparkSession.builder.appName("NYTaxiAnalytics").getOrCreate()

# Define the URL and local path for the dataset
dataset_url = "https://github.com/msfasha/307401-Big-Data/raw/main/datasets/yellow_tripdata_2025-10.parquet"
local_parquet_path = "yellow_tripdata_2025-10.parquet"

# Download the file if it doesn't exist locally
if not os.path.exists(local_parquet_path):
    print(f"Downloading {dataset_url} to {local_parquet_path}...")
    # Using subprocess.run for better control and error handling than !wget
    import subprocess
    try:
        subprocess.run(["wget", dataset_url], check=True)
        print("Download complete.")
    except subprocess.CalledProcessError as e:
        print(f"Error downloading file: {e}")
        # Handle the error, maybe raise it again or exit
        raise

# Read the Parquet file from the local path
taxi_df = spark.read.parquet(local_parquet_path)

## 3. Schema Inspection and Profiling

**Purpose**: sanity-check the loaded parquet by printing schema and forcing a full scan with count().
**Caution**: count() can be slow on large data; cancel if it runs too long in your environment.
**Outcome**: confirm columns and data types match expectations before proceeding.

In [ ]:
taxi_df.printSchema()
taxi_df.count()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

4428699

## 4. Summary Statistics

**Purpose**: compute quick descriptive stats for distance, fare, and passenger counts.
**Why**: spot obvious outliers/nulls before modeling; the column list stays narrow for readability.
**Next**: widen the column list if you need more features summarized.

In [ ]:
taxi_df.select(
    "trip_distance",
    "fare_amount",
    "passenger_count"
).describe().show()

+-------+------------------+------------------+------------------+
|summary|     trip_distance|       fare_amount|   passenger_count|
+-------+------------------+------------------+------------------+
|  count|           4428699|           4428699|           3437812|
|   mean|6.6967439196033824|18.255545755085404|1.2748128751659487|
| stddev| 656.9619547390072|19.688461694744408|0.6913772296675526|
|    min|               0.0|            -800.0|                 0|
|    max|         276333.48|            1071.9|                 9|
+-------+------------------+------------------+------------------+

## 5. Distribution Analysis

**Goal**: bin fares into $5 ranges to view distribution shape.
**Data quality note**: negative or extreme fares stay visible in their own buckets.
**Adjust**: change the divisor to alter bin width if the histogram is too coarse/fine.

In [ ]:
from pyspark.sql.functions import floor

taxi_df.withColumn(
    "fare_bucket", floor(col("fare_amount") / 5) * 5
).groupBy("fare_bucket").count().orderBy("fare_bucket").show()

+-----------+-----+
|fare_bucket|count|
+-----------+-----+
|       -800|    3|
|       -795|    1|
|       -750|    1|
|       -700|    2|
|       -665|    1|
|       -650|    1|
|       -645|    1|
|       -640|    1|
|       -620|    1|
|       -600|    3|
|       -550|    1|
|       -520|    1|
|       -500|   14|
|       -495|    2|
|       -490|    1|
|       -480|    4|
|       -475|    1|
|       -455|    1|
|       -450|    2|
|       -420|    2|
+-----------+-----+
only showing top 20 rows

## 6. Time-Based Analysis

**Goal**: count trips by pickup hour to see demand peaks.
**Assumption**: timestamps already in desired timezone; adjust upstream if needed.
**Use**: results drive staffing or surge-pricing style decisions.

In [ ]:
from pyspark.sql.functions import hour

taxi_df.withColumn(
    "pickup_hour", hour("tpep_pickup_datetime")
).groupBy("pickup_hour").count().orderBy("pickup_hour").show()

+-----------+------+
|pickup_hour| count|
+-----------+------+
|          0|131173|
|          1| 85061|
|          2| 56379|
|          3| 37668|
|          4| 30050|
|          5| 34947|
|          6| 72168|
|          7|135906|
|          8|179024|
|          9|189819|
|         10|194409|
|         11|205732|
|         12|218286|
|         13|227499|
|         14|244760|
|         15|253651|
|         16|261671|
|         17|295831|
|         18|315195|
|         19|287385|
+-----------+------+
only showing top 20 rows

## 7. Feature Engineering

**Goal**: derive trip duration (minutes) and filter out implausible records.
**Filters**: duration 1–180 min, positive fare/distance, and non-null passenger counts.
**Tip**: review clean_df head to confirm filters didn’t drop too much data.

In [ ]:
from pyspark.sql.functions import unix_timestamp
from pyspark.sql.functions import col

taxi_df = taxi_df.withColumn(
    "trip_duration_min",
    (unix_timestamp("tpep_dropoff_datetime") - unix_timestamp("tpep_pickup_datetime")) / 60
)

clean_df = taxi_df.filter(
    (col("trip_duration_min").isNotNull()) &
    (col("trip_duration_min") > 1) &
    (col("trip_duration_min") < 180) &
    (col("fare_amount").isNotNull()) &
    (col("fare_amount") > 0) &
    (col("trip_distance").isNotNull()) &
    (col("trip_distance") > 0) &
    (col("passenger_count").isNotNull()) # Added filter for null passenger_count
)

clean_df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee| trip_duration_min|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+------------------+
|       1| 2025-10-01 00:15:32|  2025-10-01 01:04:03|              1|         17.2|         2|                 N|         132|         107|           1|       70.0|  5.0|    0.5|       0.0|        6.94|                  1.0|       83.44|                 2.5|       1.75|              0.75|48.516666666666666|
|       2| 2025-10-01 00:08:54|  2025-10-01 00:14:44|              1|         2.75|         1|                 N|         263|         229|           1|       12.8|  1.0|    0.5|      3.71|         0.0|                  1.0|       22.26|                 2.5|        0.0|              0.75| 5.833333333333333|
|       1| 2025-10-01 00:58:48|  2025-10-01 01:04:40|              1|          1.3|         1|                 N|         211|         231|           2|        7.9| 4.25|    0.5|       0.0|         0.0|                  1.0|       13.65|                 2.5|        0.0|              0.75| 5.866666666666666|
|       2| 2025-10-01 00:39:51|  2025-10-01 00:49:40|              1|         2.88|         1|                 N|         230|         151|           1|       14.2|  1.0|    0.5|      3.99|         0.0|                  1.0|       23.94|                 2.5|        0.0|              0.75| 9.816666666666666|
|       1| 2025-10-01 00:30:54|  2025-10-01 00:37:50|              1|          1.6|         1|                 N|         237|         142|           2|        9.3|  3.5|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|               0.0| 6.933333333333334|
|       2| 2025-10-01 00:10:12|  2025-10-01 00:17:29|              1|         2.81|         1|                 N|         142|         166|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|               0.0| 7.283333333333333|
|       2| 2025-10-01 00:48:19|  2025-10-01 01:01:02|              1|         2.17|         1|                 N|         230|         246|           1|       13.5|  1.0|    0.5|       0.0|         0.0|                  1.0|       19.25|                 2.5|        0.0|              0.75|12.716666666666667|
|       2| 2025-10-01 00:08:44|  2025-10-01 00:24:17|              1|         3.71|         1|                 N|         140|           7|           1|       19.1|  1.0|    0.5|      6.21|         0.0|                  1.0|       31.06|                 2.5|        0.0|              0.75|             15.55|
|       2| 2025-10-01 00:25:23|  2025-10-01 00:33:02|              1|          1.2|         1|                 N|         234|         249|           2|        8.6|  1.0|    0.5|       0.0|         0.0|                  1.0|       14.35|                 2.5|        0.0|              0.75|              7.65|
|       1| 2025-10-01 00:25:43|  2025-10-01 00:42:51|              1|          3.1|         1|                 N|         231|         230|           2|       18.4| 4.25|    0.5|       0.0|         0.0|                  1.0|       24.15|                 2.5|        0.0|              0.75|17.133333333333333|
|       2| 2025-10-01 00:50:07|  2025-10-01 00:56:14|              2|         0.69|         1|                 N|          33|          65|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0| 6.116666666666666|
|       2| 2025-10-01 00:08:03|  2025-10-01 00:18:53|              1|          1.1|         1|                 N|         100|         229|           2|       10.0|  1.0|    0.5|       0.0|         0.0|                  1.0|       15.75|                 2.5|        0.0|              0.75|10.833333333333334|
|       2| 2025-10-01 00:44:12|  2025-10-01 00:57:02|              1|         1.41|         1|                 N|         164|         246|           1|       12.8|  1.0|    0.5|      3.71|         0.0|                  1.0|       22.26|                 2.5|        0.0|              0.75|12.833333333333334|
|       1| 2025-10-01 00:58:59|  2025-10-01 01:02:25|              1|          1.8|         1|                 N|         137|         232|           1|        9.3| 4.25|    0.5|      3.75|         0.0|                  1.0|        18.8|                 2.5|        0.0|              0.75| 3.433333333333333|
|       2| 2025-10-01 00:37:37|  2025-10-01 00:51:58|              1|         3.06|         1|                 N|         140|         238|           1|       17.0|  1.0|    0.5|       4.4|         0.0|                  1.0|        26.4|                 2.5|        0.0|               0.0|             14.35|
|       2| 2025-10-01 00:00:59|  2025-10-01 00:09:31|              1|         1.63|         1|                 N|         164|          79|           1|       10.7|  1.0|    0.5|      3.29|         0.0|                  1.0|       19.74|                 2.5|        0.0|              0.75| 8.533333333333333|
|       2| 2025-10-01 00:11:47|  2025-10-01 00:21:15|              1|         1.79|         1|                 N|          43|         186|           1|       10.7|  1.0|    0.5|      3.29|         0.0|                  1.0|       19.74|                 2.5|        0.0|              0.75| 9.466666666666667|
|       2| 2025-10-01 00:26:14|  2025-10-01 00:35:18|              1|         1.68|         1|                 N|          90|         211|           1|       10.7|  1.0|    0.5|      3.29|         0.0|                  1.0|       19.74|                 2.5|        0.0|              0.75| 9.066666666666666|
|       2| 2025-10-01 00:38:48|  2025-10-01 00:47:57|              1|         1.82|         1|                 N|         114|         100|           1|       11.4|  1.0|    0.5|       3.0|         0.0|                  1.0|       20.15|                 2.5|        0.0|              0.75|              9.15|
|       1| 2025-10-01 00:05:04|  2025-10-01 00:09:26|              1|          0.7|         1|                 N|         163|         162|           1|        5.8| 4.25|    0.5|       2.3|         0.0|                  1.0|       13.85|                 2.5|        0.0|              0.75| 4.366666666666666|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+------------------+
only showing top 20 rows

## 8. Regression: Fare Prediction

**Goal**: assemble feature vectors (distance, duration, passengers) and split train/test for fare regression.
**Reproducibility**: fixed seed keeps splits stable across runs.
**Extension**: add more columns to inputCols if you engineer extra signals.

In [ ]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(
    inputCols=["trip_distance", "trip_duration_min", "passenger_count"],
    outputCol="features"
)

ml_df = assembler.transform(clean_df).select("features", "fare_amount")
train_df, test_df = ml_df.randomSplit([0.8, 0.2], seed=42)

**Goal**: train linear regression on the engineered features to predict fare_amount.
**Tuning**: leave regularization defaults for now; adjust if you observe overfit.
**Note**: predictions are reused in the next evaluation cell.

In [ ]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(labelCol="fare_amount")
lr_model = lr.fit(train_df)
predictions = lr_model.transform(test_df)

**Goal**: evaluate fare regression with RMSE on the held-out test set.
**Interpretation**: lower RMSE is better; compare against naive baselines (e.g., mean fare).
**Optional**: switch metricName to mae if absolute errors matter more.

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator

RegressionEvaluator(
    labelCol="fare_amount",
    predictionCol="prediction",
    metricName="rmse"
).evaluate(predictions)

7.497843749737397

## 9. Classification: High Fare Trips

**Goal**: label trips as high_fare (> $50) and build features for classification.
**Rationale**: reuse same feature vector as regression for consistency.
**Tweak**: adjust the $50 threshold to your business rule for “high fare.”

In [ ]:
from pyspark.sql.functions import when

labeled_df = clean_df.withColumn(
    "high_fare", when(col("fare_amount") > 50, 1).otherwise(0)
)

final_df = assembler.transform(labeled_df).select("features", "high_fare")
train_df, test_df = final_df.randomSplit([0.8, 0.2], seed=42)

**Goal**: fit logistic regression to classify high_fare vs not.
**Regularization**: defaults to L2; tune regParam/elasticNetParam if needed.
**Outputs**: predictions include probability for ROC/PR evaluation.

In [ ]:
from pyspark.ml.classification import LogisticRegression

log_reg = LogisticRegression(labelCol="high_fare")
model = log_reg.fit(train_df)
predictions = model.transform(test_df)

**Goal**: assess classifier quality with ROC AUC (areaUnderROC).
**Range**: 0.5 = random, 1.0 = perfect; higher is better.
**Option**: set metricName to areaUnderPR if the positive class is rare.

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

BinaryClassificationEvaluator(
    labelCol="high_fare",
    metricName="areaUnderROC"
).evaluate(predictions)

0.9855387915472841

## 10. Clustering Trips

**Goal**: cluster trips using the same numeric features (distance, duration, passengers).
**Default**: k=5 as a starting guess; refine with silhouette/elbow methods.
**Result**: clusterCenters() shows centroids; use transform() later to tag trips with cluster IDs.

In [ ]:
from pyspark.ml.clustering import KMeans

cluster_df = assembler.transform(clean_df).select("features")

kmeans = KMeans(k=5, seed=42)
model = kmeans.fit(cluster_df)

model.clusterCenters()

[array([1.22969392, 8.36819633, 1.25657773]),
 array([17.05177296, 89.3303419 ,  1.29901011]),
 array([ 3.11243249, 19.39885216,  1.27419064]),
 array([ 7.81761231, 34.23739602,  1.29047851]),
 array([14.57150232, 56.12243539,  1.3372902 ])]

## Summary

This notebook demonstrated scalable statistical analysis and machine-learning workflows using Spark and Parquet on the NYC Taxi dataset.